{{#each vehicles}}
  <div class="card card-body mb-2">
    <h4>{{number}}</h4>
    <p>{{vehicleId}}</p>
      <p>{{regNum}}</p>
    {{!-- <a class="btn btn-dark btn-block mb-2" href="/vehicles/edit/{{number}}">Edit</a> --}}
    <form method="post" action="/vehicles/{{number}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form>
  </div>
{{else}}
  <p>No  vehicles listed</p>
{{/each}}