{{#each vehicleowners}}
  <div class="card card-body mb-2">
    <h4>{{number}}</h4>
    <p>{{vehicleId}}</p>
      <p>{{customerNum}}</p>
      <img  ></img>
    {{!-- <a class="btn btn-dark btn-block mb-2" href="/vehicles/edit/{{id}}">Edit</a> --}}
    <form method="post" action="/vehicleOwners/{{number}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form>
  </div>
{{else}}
  <p>No vehicleowners listed</p>
{{/each}}